:root {
  --black: black;
  --hk: "Hanken Grotesk", sans-serif;
  --neutral-0: #fdfdfd;
  --content: 1500px;
  --neutral-10: #141414;
  --primary: #410be4;
  --gauze: rgba(0, 0, 0, .2);
  --teal: #00ffbf;
  --accent: #00d9ff;
  --white: white;
  --medium: 960px;
  --neutral-3: #c4c4c4;
  --margin-0-after-hashboard-trio: 0px;
  --margin-1-hb-trio: 0px;
  --cobalt-dark: #12005c;
  --violet: #c500fc;
  --cobalt: #30f;
  --indigo-dark: #001349;
  --zh-blue: #72b6ff;
  --dark-navy: #000e2d;
  --blue-text: #4d91ff;
  --neutral-4: #979797;
  --radius-size-hashboard-device-rim: 0px;
  --neutral-2: #ddd;
  --neutral-9: #191919;
  --neutral-8: #1d1d1d;
  --neutral-7: #2e2e2e;
  --neutral-6: #434343;
  --neutral-5: #727272;
  --neutral-1: #fafafa;
  --indigo: #0033c0;
  --violet-dark: #290035;
  --teal-dark: #00251c;
  --accent-dark: #002329;
  --primary-dark: #001638;
  --white-2: white;
  --black-2: black;
  --small: 756px;
  --x-small: 500px;
  --rose: #da299f;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.body {
  background-color: var(--black);
  font-family: var(--hk);
  color: var(--neutral-0);
  overflow: visible;
}

.image {
  height: 20px;
}

.image.zh-logo {
  height: 20px;
  max-width: 100%;
}

.flex-block {
  z-index: 3;
  max-width: var(--content);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  position: relative;
}

.flex-block.blur {
  z-index: 5;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0 0 20px 20px;
}

.flex-block-2 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: center;
}

.btn {
  box-shadow: 0 0 0 1px var(--neutral-0);
  color: var(--neutral-0);
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  font-style: normal;
  line-height: 150%;
  text-decoration: none;
  transition: all .2s;
}

.btn:hover {
  background-color: var(--neutral-0);
  color: var(--neutral-10);
  transform: scale(.96);
}

.btn:visited {
  color: var(--neutral-0);
}

.btn.pri {
  box-shadow: none;
}

.btn.pri:hover {
  color: var(--primary);
}

.btn.pri:visited {
  color: var(--neutral-0);
}

.btn.click-to-copy.link {
  box-shadow: none;
}

.btn.link.external {
  align-items: center;
}

.btn.link.external.link-external.ico {
  opacity: 1;
}

.link-block {
  transition: opacity .2s;
}

.link-block.w--current:hover {
  opacity: 1;
}

.link-block.zh-svg-logo.w--current {
  transition-property: none;
}

.hero {
  z-index: 1;
  width: 100%;
  height: auto;
  max-width: none;
  min-height: 600px;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  aspect-ratio: auto;
  background-color: var(--black);
  border-radius: 15px;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 40px 60px;
  position: relative;
  overflow: hidden;
}

.hero-header {
  z-index: 2;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  line-height: 100%;
  position: relative;
}

.hero-head-secondary-text {
  z-index: 2;
  max-width: 80%;
  opacity: 1;
  text-align: left;
  font-size: 52px;
  font-weight: 200;
  line-height: 150%;
  position: relative;
}

.faux-list {
  z-index: 2;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  color: var(--teal);
  text-transform: none;
  font-size: 30px;
  font-weight: 900;
  position: relative;
}

.faux-list.teal-gradient {
  line-height: 150%;
}

.video {
  z-index: -1;
  pointer-events: none;
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translate(50%, 50%);
}

.background-video {
  z-index: 0;
  width: auto;
  height: 600px;
  min-height: 100%;
  min-width: 100%;
  border-radius: 15px;
  margin: auto;
  position: absolute;
  top: -50%;
  bottom: auto;
  left: -50%;
  right: auto;
  transform: translate(50%, 50%);
}

.body-container {
  width: var(--content);
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.spacer-please-delete {
  height: 1000px;
  line-height: 14px;
}

.hero-wrapper {
  z-index: 2;
  width: var(--content);
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: visible;
}

.div-block {
  width: 30px;
  aspect-ratio: auto;
  background-image: linear-gradient(to bottom, var(--teal), var(--primary));
  filter: blur(100px);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
  transform: translate(-61px, -106px);
}

.div-block.blur-bar {
  width: 60px;
  background-image: linear-gradient(to bottom, var(--accent), var(--teal));
  filter: blur(100px);
  transform: translate(-20px, -52px);
}

.div-block-2 {
  width: 66%;
  height: 80px;
  background-image: linear-gradient(88deg, var(--neutral-0), var(--accent));
  filter: blur(80px);
  margin-bottom: -20px;
  margin-left: 0%;
  margin-right: auto;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-3 {
  width: 100px;
  height: 100px;
  max-height: 20vw;
  max-width: 20vw;
  background-color: var(--accent);
  filter: blur(100px);
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  transform: translate(-47px, -11px);
}

.div-block-3.white {
  width: 50px;
  height: 50px;
  max-height: 10vw;
  max-width: 10vw;
  background-color: var(--white);
  filter: blur(50px);
  border-radius: 200px;
  transform: translate(-25px, 52px);
}

.bold-text {
  text-transform: none;
  font-size: 40px;
  font-weight: 900;
  line-height: 150%;
}

.image-2 {
  z-index: 0;
  width: var(--medium);
  height: 100%;
  max-width: none;
  opacity: 1;
  filter: blur(90px);
  pointer-events: none;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(0, -20%);
}

.image-3 {
  z-index: 0;
  height: 100vh;
  min-height: 1000px;
  filter: blur(80px);
  pointer-events: none;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, -33%)rotateX(180deg)rotateY(180deg)rotateZ(180deg);
}

.div-block-4 {
  opacity: 1;
  color: var(--neutral-3);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  position: static;
  top: auto;
  left: auto;
}

.scroll-prompt {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: flex-end;
  position: absolute;
  top: auto;
  bottom: 40px;
  left: 75%;
  right: 40px;
}

.image-4 {
  opacity: .5;
  pointer-events: auto;
}

.container {
  z-index: 2;
  width: 100%;
  max-width: var(--content);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
}

.container.bg-blur-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  position: relative;
}

.container.centred {
  perspective: 2000px;
  align-items: center;
}

.container.centred.hashboard-parent {
  perspective: 3000px;
}

.container.centred.hashboard-parent.words-of-raphael {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container.centred.comparison-parent-container {
  perspective: 500px;
}

.container.centred.map-parent {
  z-index: 1;
  margin-top: auto;
}

.container.cosy {
  margin-top: 0;
  padding-top: 0;
}

.container.cosy.float-right {
  margin-top: var(--margin-0-after-hashboard-trio);
  text-align: right;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.container.flex-h {
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 60px;
}

.container.flex-h.move-up-by-440px {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin-top: 60px;
  top: auto;
}

.container.flex-h.centred {
  text-align: center;
  flex-direction: column;
  align-items: center;
  top: auto;
}

.container.become-a-hasher-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.container.become-a-hasher-container.rotunda-head-container {
  margin-top: -40%;
}

.heading {
  z-index: 5;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 200;
  line-height: 150%;
  position: relative;
}

.prominent {
  z-index: 5;
  width: 70%;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 600;
  line-height: 150%;
  position: relative;
}

.prominent.centred {
  width: 100%;
  text-align: center;
  font-size: 37px;
  font-weight: 200;
  left: auto;
  right: auto;
}

.prominent.centred.overlay {
  width: 60%;
  height: 100%;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  position: absolute;
  top: auto;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.prominent.grow {
  width: auto;
}

.flex-info-trio {
  z-index: 2;
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  margin-top: 40px;
  display: grid;
  position: relative;
}

.flex-info-trio.step-layout {
  grid-column-gap: 40px;
  grid-row-gap: 100px;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
}

.flex-info-trio.step-layout.flex-info-trio-movie-up-after-tablet-tilt {
  margin-top: var(--margin-1-hb-trio);
}

.iconography {
  aspect-ratio: 1 / 1;
  background-image: linear-gradient(to bottom, var(--white), var(--white));
  opacity: .5;
  color: var(--cobalt-dark);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  font-weight: 900;
  display: flex;
  box-shadow: -2px 2px 11px rgba(0, 0, 0, .2);
}

.iconography.one {
  z-index: 1;
  box-shadow: 1px -1px 0 1px var(--teal), -2px 2px 11px 0 var(--teal);
  position: relative;
}

.iconography.two {
  z-index: 2;
  box-shadow: 1px -1px 0 1px var(--primary), -2px 2px 11px 0 var(--primary);
  position: relative;
}

.iconography.three {
  z-index: 2;
  box-shadow: 1px -1px 0 1px var(--violet), -2px 2px 11px 0 var(--violet);
  position: relative;
}

.trio-item {
  z-index: 2;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-image: linear-gradient(rgba(255, 255, 255, .03), rgba(255, 255, 255, .03));
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.trio-item-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.trio-item-head {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.image-5 {
  z-index: 0;
  width: auto;
  height: 100%;
  filter: blur(13px);
  transition: opacity .2s;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0%;
  transform: scale(1.4)translate(26%);
}

.image-6 {
  z-index: 1;
  opacity: .36;
  filter: blur(20px);
  margin-left: 0;
  position: absolute;
  left: 0%;
}

.image-7 {
  z-index: 1;
  width: 100vw;
  height: auto;
  max-width: none;
  min-height: 100%;
  opacity: 1;
  filter: blur(80px);
  pointer-events: none;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
}

.image-7.subtle {
  opacity: .4;
}

.image-7.subtle.flip {
  perspective-origin: 50%;
  transform-origin: 0 0;
  transform: rotate(-26deg)translate(-50%, -50%);
}

.link {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  opacity: .7;
  color: var(--neutral-0);
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.link:hover {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  opacity: 1;
}

.link:visited {
  color: var(--neutral-0);
}

.link.arrow-right {
  z-index: 5;
  position: relative;
}

.link.arrow-right.ico.btn {
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
}

.major {
  font-size: 40px;
  line-height: 150%;
}

.skew-device {
  z-index: 1;
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
  perspective: 2000px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
  position: relative;
}

.image-8 {
  z-index: 2;
  width: 100%;
  max-width: var(--content);
  display: none;
  position: relative;
}

.div-block-6 {
  z-index: 3;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 2px var(--cobalt);
  border-radius: 40px;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.div-block-6.bezel {
  width: 82%;
  height: auto;
  aspect-ratio: 3 / 2;
  background-image: linear-gradient(to bottom, var(--black), var(--black));
  margin: auto;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.div-block-6.device-body {
  z-index: 2;
  box-shadow: 0 1px 0 2px var(--indigo-dark);
  background-image: url('../images/device-gradient.svg');
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: contain;
}

.div-block-6.screen {
  z-index: 4;
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  box-shadow: 0 0 0 2px var(--cobalt), 0 0 0 10px var(--black), 0 0 0 11px var(--cobalt);
  background-image: url('../images/Screenshot-2024-02-13-at-17.11.23.png');
  background-position: 0 0;
  background-size: cover;
  border-radius: 30px;
  margin: auto;
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.glow {
  z-index: 5;
  width: 60%;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--cobalt), transparent);
  filter: blur(100px);
  pointer-events: none;
  mix-blend-mode: normal;
  border-radius: 20%;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  bottom: auto;
}

.glow.glow-wide {
  width: 100%;
  mix-blend-mode: color;
}

.wide-blur-straight-h {
  z-index: 0;
  width: 100%;
  height: auto;
  max-width: 100vw;
  filter: blur(80px);
  pointer-events: none;
  transform-style: preserve-3d;
  position: absolute;
  transform: scale(1.3)translate3d(0, 0, -300px);
}

.wide-blur-straight-h.subtle {
  opacity: .5;
  filter: blur(100px);
  pointer-events: none;
  margin-top: auto;
  margin-bottom: auto;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: none;
}

.image-10 {
  z-index: 0;
  width: 100%;
  height: auto;
  max-width: 80vw;
  filter: blur(80px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)rotate(34deg);
}

.overlap-image-flex {
  z-index: 2;
  width: auto;
  max-width: 50vw;
  min-width: 600px;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  position: relative;
}

.image-11 {
  height: 600px;
  max-height: none;
}

.image-12 {
  height: 600px;
  margin-left: -12%;
}

.container-head {
  z-index: 2;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  position: relative;
}

.container-head.centred {
  text-align: center;
  align-items: center;
}

.major-paragraph {
  width: auto;
  color: var(--neutral-3);
  margin-top: 20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 150%;
}

.major-paragraph.left {
  text-align: left;
}

.blur-behing-phones {
  z-index: 0;
  width: 100%;
  height: auto;
  max-width: 100vw;
  opacity: 1;
  filter: blur(100px);
  transform-style: preserve-3d;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0%;
  transform: rotateX(-180deg)rotateY(0)rotateZ(-17deg);
}

.image-14 {
  z-index: 1;
  width: 100%;
  height: auto;
  max-width: 45vw;
  position: relative;
}

.flex-block-3 {
  z-index: 2;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: flex-start;
  position: relative;
}

.blur-behind-token {
  width: 100%;
  max-width: 90vw;
  filter: blur(120px);
  pointer-events: none;
  transform-style: preserve-3d;
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translate(50%, 50%);
}

.compare-table {
  z-index: 2;
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  margin-top: 20px;
  display: grid;
  position: relative;
}

.table-compare-wrapper {
  min-width: 250px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: var(--neutral-3);
  border-radius: 15px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 20px;
  font-weight: 400;
}

.table-compare-wrapper.results {
  width: 300px;
  min-width: 300px;
  text-align: left;
  align-items: center;
}

.table-compare-wrapper.results.winner {
  box-shadow: 0 0 0 1px var(--primary), 0 9px 20px -8px var(--accent), 20px -6px 60px -60px var(--white);
  background-image: url('../images/gradient-9.webp'), linear-gradient(rgba(0, 5, 63, .36), rgba(0, 5, 63, .36));
  background-position: 0%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  background-attachment: scroll, scroll;
  position: relative;
}

.table-compare-wrapper.results.loser {
  background-image: linear-gradient(rgba(29, 0, 37, .36), rgba(29, 0, 37, .36));
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.icon-wrapper {
  width: 100%;
  height: 80px;
  max-height: 80px;
  aspect-ratio: auto;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.overflow-horizontal-scroll-table-wrapper {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  perspective: 2000px;
  justify-content: space-around;
  position: relative;
  overflow: auto;
}

.table-comp-cell {
  width: auto;
  height: 50px;
  max-width: none;
  opacity: 1;
  filter: blur();
  flex-wrap: wrap;
  align-items: center;
  font-weight: 900;
  display: flex;
}

.table-comp-cell.good-cell {
  color: var(--zh-blue);
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: var(--accent);
  text-shadow: 0 1px 19px var(--zh-blue);
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
}

.table-comp-cell.bad-cell {
  color: var(--violet);
}

.table-comp-cell.bad-x {
  filter: none;
}

.body-wrapper {
  width: 100vw;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 100% 0%, var(--dark-navy), transparent);
  overflow: hidden;
}

.icon-img {
  width: auto;
  height: auto;
  max-height: 80px;
  max-width: 200px;
  opacity: 1;
  margin: auto;
  position: relative;
}

.icon-img.faded {
  opacity: .3;
}

.image-15 {
  width: 100%;
  max-width: 100vw;
  filter: blur(50px);
  transform-style: preserve-3d;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
  transform: translate(0, -156px)scale3d(1, 1.5, 1)rotate(83deg);
}

.page-contents-wrapper-atf {
  z-index: 3;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

.footer {
  z-index: 2;
  height: auto;
  min-height: 500px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-image: radial-gradient(circle closest-corner at 50% 0%, var(--primary), transparent), radial-gradient(circle closest-corner at 50% 100%, var(--cobalt-dark), transparent);
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 0;
  padding: 20px;
  position: relative;
}

.company-information {
  z-index: 2;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  position: relative;
}

.links-organiser {
  z-index: 2;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-wrap: nowrap;
  position: relative;
}

.zettahash-iconography {
  width: auto;
  height: 24px;
}

.mi-flag {
  width: auto;
  height: 50px;
}

.cosy {
  margin-top: 0;
  margin-bottom: 0;
}

.zettahash-company-address-and-flag-container {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
}

.links-organiser-heading {
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.foolter-link-list {
  text-align: left;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-link {
  color: var(--neutral-3);
  padding: 5px 10px;
  text-decoration: none;
  transition: color .2s;
  display: block;
}

.footer-link:hover {
  color: var(--neutral-0);
  text-decoration: underline;
}

.blur-footer {
  z-index: 0;
  width: 100%;
  height: auto;
  max-width: 50vw;
  opacity: .67;
  filter: blur(90px);
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
  transform: rotate(-180deg);
}

.blur-footer.right {
  opacity: 1;
  pointer-events: none;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: rotate(0);
}

.image-16 {
  display: none;
}

.image-17 {
  z-index: 2;
  width: 100%;
  height: 100%;
  filter: blur(80px);
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 0;
}

.blur-holder-container {
  height: 600px;
  max-height: 45vw;
  aspect-ratio: 1 / 1;
  position: relative;
}

.image-18 {
  z-index: 0;
  width: 100%;
  filter: blur(80px);
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  transform: translate(0, 237px);
}

.vortex-img {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: absolute;
  top: auto;
  left: auto;
  transform: translate(5%, 12%)rotateX(0)rotateY(180deg)rotateZ(-4deg);
}

.image-19 {
  z-index: 1;
  width: 120vw;
  max-height: 40vh;
  max-width: none;
  perspective: none;
  position: absolute;
}

.waves-graphic {
  z-index: 1;
  width: 120vw;
  max-width: none;
  opacity: .22;
  position: absolute;
  top: auto;
  bottom: -30%;
  left: 50%;
  right: auto;
  transform: translate(-50%);
}

.hero-border-wrapper {
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}

.ico.link, .ico.link.arrow-down {
  opacity: .7;
}

.ico.link.arrow-down:hover {
  opacity: 1;
}

.navbar {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.nav-menu {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  display: flex;
}

.nav-link.btn {
  box-shadow: none;
  border: 1px #000;
}

.nav-link.btn:hover {
  box-shadow: none;
}

.nav-link.btn.w--current {
  display: none;
}

.nav-link.btn.pri {
  background-image: linear-gradient(54deg, var(--indigo-dark), var(--teal));
}

.nav-link.btn.pri:hover {
  background-image: linear-gradient(54deg, var(--indigo-dark), var(--indigo-dark));
  color: var(--neutral-0);
}

.nav-link.btn.pri.nav-pri {
  background-image: linear-gradient(54deg, var(--indigo-dark), var(--violet));
}

.nav-link.btn.pri.nav-pri:hover {
  background-image: linear-gradient(54deg, var(--indigo-dark), var(--indigo-dark));
}

.numerology {
  z-index: 2;
  width: auto;
  height: auto;
  aspect-ratio: auto;
  opacity: .75;
  color: var(--blue-text);
  text-align: left;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  font-size: 32px;
  font-weight: 900;
  line-height: 100%;
  display: block;
  position: relative;
}

.trio-primary-img {
  width: auto;
  height: 280px;
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.import-to-metamask {
  width: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: var(--neutral-4);
  border: 1px #000;
  border-radius: 6px;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  display: flex;
}

.import-to-metamask:hover {
  box-shadow: 0 0 0 1px var(--neutral-0);
  color: var(--neutral-0);
}

.import-to-metamask.btn {
  color: var(--neutral-0);
}

.import-to-metamask.btn:hover {
  color: var(--neutral-10);
}

.i2m-img {
  height: 2rem;
  border-radius: 5px;
}

.text-block {
  line-height: 150%;
}

.waves-graphic-centred {
  z-index: 0;
  width: 100vw;
  height: auto;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.waves-graphic-centred.subtle {
  opacity: .1;
}

.waves-graphic-centred.subtle.small {
  width: 100%;
}

.zh-logo {
  height: 20px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.device-screen-container {
  width: 80%;
  height: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.device-rim {
  width: 102.5%;
  height: 80px;
  border-bottom-left-radius: var(--radius-size-hashboard-device-rim);
  border-bottom-right-radius: var(--radius-size-hashboard-device-rim);
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  background-image: url('../images/device-gradient.svg');
  background-position: 50% 100%;
  background-repeat: repeat-y;
  background-size: contain;
  transform: translate(0, -40px)perspective(2000px)rotateX(-45deg)rotateY(0)rotateZ(0);
}

.link-2 {
  color: var(--neutral-2);
  text-decoration: none;
}

.link-2:hover {
  color: var(--neutral-0);
  text-decoration: underline;
}

.rapael-text-quote {
  z-index: 2;
  width: 80%;
  max-width: 800px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
}

.text-block-2 {
  z-index: 1;
  opacity: .2;
  color: var(--cobalt);
  font-size: 250px;
  font-style: italic;
  line-height: 250px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: translate(-50%, -25%);
}

.text-block-2.end {
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(-50%, 75%);
}

.text-block-3 {
  text-align: right;
  font-size: 20px;
  line-height: 150%;
}

.text-block-3.teal-gradient {
  width: auto;
  float: right;
  clear: none;
  display: inline-block;
  position: relative;
  left: auto;
  right: 0;
}

.flex-container {
  z-index: 2;
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
}

.tile {
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, .03);
  border-radius: 15px;
}

.tile.profile {
  width: 245px;
  height: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: transform .2s;
}

.tile.profile:hover {
  z-index: 3;
  position: relative;
  transform: scale(1.1);
}

.profile-pic {
  width: 120px;
  height: 120px;
  background-color: var(--gauze);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 120px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.profile-image-file {
  width: 80%;
  height: auto;
  max-width: none;
  min-height: 100px;
  min-width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.position {
  text-align: center;
  font-size: 20px;
  line-height: 150%;
}

.address.link {
  opacity: 1;
  color: var(--neutral-4);
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  transition-property: none;
}

.address.link:hover {
  color: var(--neutral-0);
}

.flex-container-heading {
  width: 100%;
  flex: 0 auto;
  margin-top: 0;
  font-size: 28px;
  font-weight: 200;
  line-height: 150%;
}

.rotunda-head {
  z-index: 1;
  width: 100%;
  min-width: auto;
  aspect-ratio: 1 / 1;
  opacity: .3;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: absolute;
  transform: translate(0%, -60%);
}

.rotunda-img {
  width: 100%;
  max-width: none;
  position: absolute;
  top: 0;
  left: 0;
}

.rotunda-img.smaller {
  width: 80%;
  opacity: .33;
  margin: auto;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.rotunda-img.smaller.smallest {
  width: 70%;
  opacity: .25;
  filter: blur(5px);
}

.rotunda-head-wrapper {
  z-index: 1;
  width: 100%;
  height: auto;
  position: relative;
}

.rotunda-head-text-container {
  z-index: 3;
  width: 80%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.rotunda-head-container {
  width: 100%;
  position: relative;
}

.placeholder-please-delete {
  height: 100vh;
}

.image-20 {
  width: auto;
  height: auto;
  max-width: 40vw;
}

@media screen and (max-width: 991px) {
  .flex-block {
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-right: 0;
  }

  .hero {
    min-height: 700px;
  }

  .hero-head-secondary-text {
    max-width: 75%;
    font-size: 41px;
  }

  .faux-list.teal-gradient {
    flex-wrap: wrap;
    flex: 0 auto;
    font-size: 27px;
  }

  .container.flex-h.move-up-by-440px {
    flex-direction: column;
  }

  .overlap-image-flex {
    max-width: 90vw;
    min-width: auto;
    justify-content: center;
  }

  .flex-block-3 {
    flex-direction: column-reverse;
    align-items: center;
  }

  .compare-table {
    grid-template-columns: auto 1fr;
  }

  .overflow-horizontal-scroll-table-wrapper {
    width: auto;
    margin-left: 0;
    left: auto;
    overflow: auto;
  }

  .footer {
    flex-wrap: wrap-reverse;
  }

  .links-organiser {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .vortex-img {
    transform: translate(-8%, -14%)rotateX(0)rotateY(180deg)rotateZ(23deg);
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 767px) {
  .flex-block {
    z-index: 99;
  }

  .flex-block-2 {
    display: none;
  }

  .hero {
    height: 70vh;
    max-height: none;
    min-height: 800px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero-head-secondary-text {
    max-width: 60%;
    font-size: 32px;
  }

  .faux-list.teal-gradient {
    max-width: 60%;
    font-size: 25px;
  }

  .bold-text.blue-gradient {
    font-size: 34px;
  }

  .prominent.grow {
    text-align: center;
  }

  .flex-info-trio {
    flex-direction: column;
    display: flex;
  }

  .major.teal-gradient {
    text-align: center;
  }

  .div-block-6.screen {
    border-radius: 4vw;
  }

  .overlap-image-flex {
    flex-direction: row;
    margin-right: auto;
  }

  .image-11 {
    width: 50%;
    height: 100%;
    max-width: none;
    display: none;
  }

  .image-12 {
    width: 76%;
    height: auto;
    max-width: none;
    margin-left: -27%;
    display: none;
  }

  .container-head {
    align-items: center;
  }

  .blur-footer.right {
    max-width: none;
  }

  .image-16 {
    display: block;
  }

  .navbar {
    width: 200px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu {
    background-color: var(--neutral-10);
    color: var(--neutral-0);
    right: 0;
  }

  .nav-link {
    color: var(--neutral-0);
  }

  .menu-button {
    background-color: rgba(0, 0, 0, 0);
  }

  .menu-button.w--open {
    background-color: var(--neutral-10);
  }
}

@media screen and (max-width: 479px) {
  .flex-block {
    width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .flex-block-2 {
    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-around;
  }

  .hero {
    height: auto;
    min-height: auto;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to bottom, var(--gauze), var(--gauze));
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    padding: 60px 20px;
  }

  .hero-head-secondary-text {
    max-width: 100%;
    font-size: 25px;
  }

  .faux-list.teal-gradient {
    width: 100%;
    max-width: none;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-size: 20px;
  }

  .background-video {
    height: auto;
  }

  .body-container {
    width: 100vw;
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bold-text.blue-gradient {
    font-size: 30px;
  }

  .scroll-prompt {
    width: auto;
    justify-content: center;
    position: relative;
    top: 0;
    left: auto;
    right: auto;
  }

  .heading {
    font-size: 30px;
  }

  .prominent {
    width: auto;
    font-size: 25px;
  }

  .prominent.centred {
    font-size: 25px;
  }

  .prominent.grow {
    text-align: center;
  }

  .major.teal-gradient {
    text-align: center;
    font-size: 30px;
  }

  .div-block-6.screen {
    border-radius: 3vw;
  }

  .overlap-image-flex {
    max-width: none;
    min-width: auto;
  }

  .image-11 {
    height: auto;
  }

  .image-12 {
    display: none;
    overflow: visible;
  }

  .body-wrapper {
    height: auto;
    max-width: 100vw;
    overflow: hidden;
  }

  .page-contents-wrapper-atf {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .footer {
    height: auto;
  }

  .links-organiser {
    flex-flow: column;
    align-items: flex-start;
  }

  .zettahash-company-address-and-flag-container {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    margin-right: auto;
  }

  .blur-footer {
    max-width: none;
  }

  .blur-footer.right {
    height: 100%;
  }

  .vortex-img {
    transform: translate(-8%, -38%)rotateX(0)rotateY(180deg)rotateZ(23deg);
  }
}

#w-node-_5f9e26e1-42a1-932b-3f14-e5a133c8e993-33c8e987 {
  grid-area: 1 / 1 / 4 / 2;
}

#w-node-_5f9e26e1-42a1-932b-3f14-e5a133c8e99f-33c8e987 {
  grid-area: 2 / 2 / 4 / 3;
}

#w-node-_5f9e26e1-42a1-932b-3f14-e5a133c8e9ab-33c8e987 {
  grid-area: 3 / 3 / 4 / 4;
}

#w-node-_5f9e26e1-42a1-932b-3f14-e5a133c8e9b7-33c8e987 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Ico';
  src: url('../fonts/ico.eot') format('embedded-opentype'), url('../fonts/ico.woff') format('woff'), url('../fonts/ico.ttf') format('truetype'), url('../fonts/ico.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}